<header>
  <h1>Music</h1>
</header>
<div class="main">
<p class="intro__page"> Click the headphones to view all albums</p>
<div class="intro__logo">
  <%= link_to(albums_path) do %>
    <i class="fa fa-headphones fa-border"></i>
  <% end %>
</div>
</div>
