<h1>Album Info</h1>

<ul>
  <li>
    <%= :title %>
    -
    <%= :artist %>
    -
  <!-- </li>
  <li> -->
    <%= link_to 'Edit', edit_album_path %>
  </li>
  <li>
    <%= link_to 'Delete', @album.delete %>
  </li>
</ul>
