<footer>
    <ul class="footer__nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Show All Albums', albums_path %></li>
      <li><%= link_to 'Add New Album', new_album_path %></li>
    </ul>

  <p>Music Music Copyright 2015. All Rights Reserved.</p>
</footer>
